.player {
  --bottom: 1;
  max-width: 80px;
  position: absolute;
  left: 50px;
  bottom: calc(var(--bottom) * 1%);
  filter: brightness(var(--brightness)) grayscale(var(--grayscale));
  object-fit: contain;
}

.player--jump {
  animation: rotate 500ms linear;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
